.navbar {
    
    
    background-color: #0B0101;
    height:65px
    
}

.navbar .container {
    align-items: center;
    padding: 0.1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
    
    
    
}



.navbar img{
    width: 140px;
    
    
    
    
    
    
} 
.navbar li{
    
    
    float:right;
    display: flex;
    padding: 1rem;
    font-size:12px;
    font-family: 'Mukta Mahee',sans-serif;
    font-weight:normal
    
}
.nav-item img{
    width: 14px;
}

@media screen and (max-width:700px) {
    .navbar {
    
    
        background-color: #0B0101;
        height:80px
        
    }
    .navbar img {
        height:60px;
        margin: 0;
        align-items: center;
    }
    .navbar li{
        width: 200px;
        height: 40px;
        font-size:12px;
        
        
        
        
        
    }
    .nav-item img{
        width: 14px;
        height:14px;
        display: flex;
    }
}









   

